 /* ********************MOBILE****************** */

 @media only screen and (min-width: 480px) and (max-width:767px) {
     /* -----------------HEADER----------------- */
     header nav div {
         height: 75px;
     }
     header nav div p {
         line-height: 75px;
     }
     /* -----------------.superContainer----------------- */
     .superContainer aside div {
         position: relative;
         height: 150px;
         border: 1px solid black;
     }
     .superContainer aside div p {
         line-height: 150px;
     }
     .superContainer #container1 div {
         height: 125px;
         border-top: none;
     }
     .superContainer #container1 div p {
         line-height: 125px;
     }
     #container2 {
         display: flex;
         flex-wrap: wrap;
     }
     .superContainer #container2 div {
         height: 250px;
         width: 50%;
     }
     .superContainer #container2 div p {
         line-height: 250px;
     }
     /* -----------------Footer----------------- */
     footer div {
         height: 80px;
     }
     footer div p {
         line-height: 80px;
     }
 }

 /* ********************Laptop & Desktop****************** */

 @media only screen and (min-width: 768px) {

     /* -----------------HEADER----------------- */
     header nav div {
         height: 100px;
     }
     header nav div p {
         line-height: 100px;
     }
     /* -----------------.superContainer----------------- */
     .superContainer {
         display: grid;
         grid-template-columns: 200px auto;
         grid-template-rows: 200px 250px 150px;

         /* grid-template-columns: auto auto; */
     }
     .item1 {
        grid-row-start: 1;
        grid-row-end: 4;
     }
     .container1{
         display: flex;
         flex-flow: row nowrap;
     }
     .container1 div {
         width: 100%;
     }
     .container2{
         display: flex;
     }
     .container2 div {
        width: 100%;
    }
     .superContainer #container1 div {
     }
 }