header {
    background-color:#000000 ;
}
.superContainer aside {
    background-color:#b83b5e ;

}
.container1 {
    background-color:#e9da3c ;

}
.container2 {
    background-color:#7e1788 ;

}
footer {
    background-color:#f08a5d ;

}