header {
    background-color:#000000 ;
}
main aside {
    background-color:#b83b5e ;

}
main #container1 {
    background-color:#e9da3c ;

}
main #container2 {
    background-color:#7e1788 ;

}
footer {
    background-color:#f08a5d ;

}